
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&family=Ubuntu&display=swap');



body{
  background-color: rgba(183,210,211,100);
  font-family: 'Recursive', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
.intro{
  font-size: ;
}.sample{
  width: 200px;
  top: 0;
  left: 0;
}
h1{
  text-align: center;
  color: #311b52;
}
.box{
padding-left: 300px;
padding-right: 200px;
margin: auto;

}
.table{
  padding-left: 100px;
}
a{
  text-decoration: none;
}
